

/* styles.css or styles.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;      /* Set width to 80% */
  height: 80%;     /* Set height to 80% */
  max-width: 150vh; /* You can set a maximum width if needed */
  max-height: 85vh; /* You can set a maximum height relative to viewport height */
  overflow-y: auto; /* Enable scrolling if content overflows height */
}



.second-modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;      /* Set width to 80% */
  height: 80%;     /* Set height to 80% */
  max-width: 150vh; /* You can set a maximum width if needed */
  max-height: 55vh; /* You can set a maximum height relative to viewport height */
  overflow-y: auto; /* Enable scrolling if content overflows height */
}
 


.dropdown-list li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
